<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Merkez_Bankası_Güncel_Kur_FORM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Merkez_Bankası_Güncel_Kur_FORM.Properties.Settings.DOVIZ"
            connectionString="Data Source=DESKTOP-97R8EDR\MSSQLSERVER02;Initial Catalog=DOVIZ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Merkez_Bankası_Güncel_Kur_FORM.Properties.Settings>
            <setting name="IsLicenced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
        </Merkez_Bankası_Güncel_Kur_FORM.Properties.Settings>
    </userSettings>
</configuration>